@import '/src/styles/variables.scss';

.reservation {
  margin-bottom: $margin-md;
  figure {
    padding: $padding-lg $padding-lg 0 $padding-lg;
    margin-bottom: 0;
    img {
      height: 13.125rem;
      width: 100%;
      object-fit: cover;
      border-radius: $border-radius-sm;
    }
  }
  .link {
    text-decoration: none;
    .card {
      min-height: 18.75rem;
      border-radius: $border-radius-md;
      box-shadow: 0 4px 35px 0 #393e5f40;
      .description {
        .title {
          font-weight: 600;
          font-size: $font-size-xs;
          line-height: $line-height-16;
          color: $dark-deep;
        }
        .date {
          font-weight: 400;
          font-size: $font-size-xs;
          line-height: $line-height-16;
          color: $dark;
        }
        .rooms {
          font-weight: 400;
          font-size: $font-size-xs;
          line-height: $line-height-16;
          color: $dark-deep;
        }
      }
    }
  }
}
