@import '/src/styles/variables.scss';

.details {
  width: 35.5rem;
  max-height: 48.25rem;
  border-radius: $border-radius-sm;
  box-shadow: 0 4px 35px 0 #393e5f40;
  .body {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
    padding: $padding-4xl;
    .description {
      font-weight: 600;
      font-size: $font-size-sm;
      line-height: $line-height-19;
      color: $dark-deep;
    }
    .value {
      font-weight: 400;
      font-size: $font-size-sm;
      line-height: $line-height-19;
      color: $dark-deep;
    }
    .rooms {
      overflow: scroll;
      height: 18.75rem;
    }
  }
}
