@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.card {
  width: 100%;
  border: 0;
  .body {
    padding: 0;
    .checkbox label {
      font-weight: 400;
      font-size: $font-size-md;
      line-height: $line-height-19;
    }
    .documentType {
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
    }
    .voucherContainer {
      padding: $padding-md;
      margin-bottom: $margin-sm;
      border-radius: $border-radius-sm;
      background-color: $gray-dark;
    }
  }
  label {
    font-size: 12px;
  }
  @include media-breakpoint-up(lg) {
    width: 31.5rem;
    .body {
      padding-inline: $padding-3xl;
    }
  }
}
