@import '/src/styles/variables.scss';

.availabilitySection {
  margin-top: -$margin-3xl;
  position: relative;
  z-index: 1;
  background-color: $light;
  padding-top: $padding-6xl;
  padding-bottom: $padding-6xl;
  &.admin {
    margin-top: 0;
    padding-top: 0;
  }
  .availabilityForm {
    background-color: $white;
    padding: $padding-2xl;
    border-radius: $border-radius-sm;
    box-shadow: 0 4px 12px $shadow-dark;
    .btnPrimary {
      border: none;
      transition: background-color 0.3s ease;
    }
    .inputGroupText {
      background-color: $gray;
      border: 1px solid $gray-light;
      border-right: none;
    }
    .formControl,
    .formSelect {
      border-left: none;
      &:focus {
        box-shadow: none;
        border-color: $gray-light;
      }
    }
  }
}
