@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.siteHeader {
  position: fixed;
  top: 0;
  width: 100%;
  padding: $padding-lg;
  z-index: 2;
  transition: 0.3s all ease-in-out;
  img {
    width: 4.375rem;
  }
  &.static {
    position: relative;
  }
  &.scrolled,
  &.static {
    padding: $padding-lg;
    background: $white;
    box-shadow: 0 5px 20px -5px $shadow-dark;
    .site-logo {
      position: relative;
      z-index: 100;
      a {
        color: $dark-deep;
      }
    }
    .title {
      font-weight: 600;
      font-size: $font-size-xl;
      line-height: $line-height-32;
      text-align: center;
      color: $dark;
      text-decoration: none;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: $padding-5xl 0;
    &.scrolled,
    &.static {
      padding: $padding-lg 0;
    }
  }
}
