.eventsSection {
  padding: 4rem 0;
  background-color: #f8f9fa;
  .eventCard {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }

  .eventBody {
    padding: 10px;
  }

  .eventDate {
    font-size: 0.9rem;
    color: #6c757d;
    display: block;
    margin-bottom: 5px;
  }

  .eventTitle {
    font-size: 1.25rem;
    font-weight: bold;
    a {
      text-decoration: none;
      color: #343a40;
      transition: color 0.3s ease;
      &:hover {
        color: #007bff;
      }
    }
  }
}
