@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.heroSection {
  position: relative;
  background: url('/src/assets//images/portada.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;
  height: 50vh;
  min-height: 700px;
  margin-top: -35px;
  @include media-breakpoint-down(lg) {
    background: url('/src/assets/images/vina_1.JPG') center/cover no-repeat;
    height: 50vh;
    min-height: 450px;
    margin-top: -70px;
  }

  @include media-breakpoint-down(md) {
    background: url('/src/assets/images/vina_1.JPG') center/cover no-repeat;
    height: 40vh;
    min-height: 450px;
    margin-top: -70px;
  }
}

.customCaption {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
}
