@import '/src/styles/variables.scss';

.heroSection {
  position: relative;
  background: url('../images/vina_1.avif') center/cover no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;
  height: 50vh;
  min-height: 700px;
  margin-top: -15px;
}

.customCaption {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
}
