@import '/src/styles/variables.scss';

.info {
  border-radius: $border-radius-xs;
  font-weight: 700;
  font-size: $font-size-xs;
  line-height: $line-height-16;
  padding: $padding-xs $padding-sm;
  text-decoration: none;
  color: $light;
  &.status {
    &_1 {
      background-color: $orange;
    }
    &_2 {
      background-color: $dark-md;
    }
    &_3 {
      background-color: $light-deep;
    }
    &_4 {
      background-color: $red;
    }
    &_5 {
      background-color: $accent;
    }
  }
}
