.welcomeSection {
  background-color: #f8f9fa;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.imageWrapper {
  position: relative;
}

.floatingImage {
  top: -20px;
  left: -20px;
  width: 40%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mainImage {
  width: 100%;
  z-index: 0;
}
