@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap-2xl;
  height: 100vh;
  padding-inline: $padding-sm;
  background: url('/images/login_background.webp') center/cover no-repeat;
  .loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.85);
    padding: $padding-2xl;
    width: 100%;
    min-height: 28.875rem;
    border-radius: $border-radius-xs;
    &.admin {
      gap: $gap-2xl;
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: $gap-xs;
      h3 {
        font-weight: 600;
        font-size: $font-size-xl;
      }
      p {
        font-weight: 400;
        font-size: $font-size-sm;
      }
    }
    button {
      font-size: $font-size-sm;
      padding: $padding-md;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-inline: 0;
    .loginBox {
      width: 25.3125rem;
    }
  }
}
