@import '/src/styles/variables.scss';

.footerSection {
  background: $gray;
  padding: $padding-5xl 0;
  li {
    margin-bottom: $margin-xs;
  }
}

.link a {
  text-decoration: none;
  color: $dark;
  transition: color 0.3s ease;
}

.contactInfo p {
  margin-bottom: $margin-xs;
  color: $dark-md;
}
