@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.heroSection {
  position: relative;
  background: url('/src/assets//images/portada.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;
  height: 50vh;
  min-height: 43.75rem;
  margin-top: -$margin-lg;
  @include media-breakpoint-down(lg) {
    background: url('/src/assets/images/vina_1.JPG') center/cover no-repeat;
    height: 50vh;
    min-height: 28.125rem;
    margin-top: -$margin-2xl;
  }

  @include media-breakpoint-down(md) {
    height: 40vh;
  }
}

.customCaption {
  font-size: $font-size-xl;
  text-transform: uppercase;
  display: block;
  margin-bottom: $margin-sm;
}

.heading {
  font-size: $font-size-4xl;
  font-weight: bold;
}
