@import '/src/styles/variables.scss';

.MainContainer {
  background-color: $light;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  padding: $padding-md;
}

.line {
  background-color: $dark;
  width: 100%;
  height: 1px;
}

input.form-control {
  padding: $padding-sm;
  border-radius: $border-radius-sm;
  border-width: 0.7px;
  background: #f1f1f1;
  border: 0.7px solid #b7b7b7;
  font-size: $font-size-sm;
  &::placeholder {
    color: #bebebe;
  }
}
