@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$white: #ffffff;
$black: #000000;
$gray: #f8f9fa;
$gray-light: #ced4da;
$gray-dark: #d9d9d9;

$light: #f6f6f6;
$light-md: #efefef;
$light-deep: #e3e3e3;

$accent: #ffc473;
$accent-md: #fdb24c;
$accent-deep: #d45f23;

$dark: #5d6c78;
$dark-md: #41464a;
$dark-deep: #212529;

$shadow-dark: rgba(0, 0, 0, 0.1);
$shadow-dark-2: rgba(0, 0, 0, 0.5);

$red: #e00000;
$orange: #f97b3b;

$info: #1431c2;

// Override bootstrap variables section
$primary: $dark-deep;
$secondary: $accent-md;
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'warning': $warning,
  'info': $info,
  'danger': $danger,
  'light': $light-deep,
);
$btn-border-radius: 2rem;
$border-color: $gray-light;
$border-width: 1px;
$link-color: $accent-deep;
$toast-header-background-color: $white;
$toast-border-radius: 16px;
$toast-border-width: 0;

// Padding variables
$padding-xs: 0.25rem;
$padding-sm: 0.5rem;
$padding-md: 0.75rem;
$padding-lg: 1rem;
$padding-xl: 1.5rem;
$padding-2xl: 2rem;
$padding-3xl: 2.5rem;
$padding-4xl: 3rem;
$padding-5xl: 3.75rem;
$padding-6xl: 4rem;

// Font-size variables
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
$font-size-3xl: 2.5rem;
$font-size-4xl: 3rem;

// Line-height variables
$line-height-16: 1.0212rem;
$line-height-19: 1.1919rem;
$line-height-32: 2.0425rem;

// Width variables
$border-radius-xs: 0.25rem;
$border-radius-sm: 0.5rem;
$border-radius-md: 1rem;
$border-radius-lg: 1.25rem;
$border-radius-xl: 1.5rem;
$border-radius-pill: 625rem;

// Margin variables
$margin-xs: 0.75rem;
$margin-sm: 1rem;
$margin-md: 1.5rem;
$margin-lg: 1.875rem;
$margin-xl: 3.125rem;
$margin-2xl: 4.375rem;
$margin-3xl: 6.25rem;
$margin-4xl: 12.5rem;

$gap-xs: 0.5rem;
$gap-sm: 0.75rem;
$gap-md: 1rem;
$gap-lg: 1.5rem;
$gap-xl: 1.75rem;
$gap-2xl: 2.25rem;
