@import '/src/styles/variables.scss';

.btnPrimary {
  border: none;
  transition: background-color 0.3s ease;
}
.inputGroupText {
  background-color: $gray;
  border: 1px solid $gray-light;
  border-right: none;
}
.formControl,
.formSelect {
  border-left: none;
  &:focus {
    box-shadow: none;
    border-color: $gray-light;
  }
}
