@import '/src/styles/variables.scss';

.reservationSection {
  background-image: url('/src/assets/images/reservation-bg.jpg');
  background-size: cover;
  background-position: center;
  color: $white;
  position: relative;
  overflow: hidden;
  padding-top: $padding-6xl;
  padding-bottom: $padding-6xl;
}

.btnOutlineLight {
  border-width: 2px;
  font-weight: 600;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: $white;
  }
}

.textShadow {
  text-shadow: 10px 10px 30px rgba(37, 60, 76, 0.8) !important;
}
