@import '/src/styles/variables.scss';

.siteHeader {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 60px 0;
  z-index: 2;
  transition: 0.3s all ease-in-out;
  &.scrolled {
    padding: 20px 0;
    background: $white;
    box-shadow: 0 5px 20px -5px $shadow-dark;
    .siteMenuToggle {
      top: 10px;
      position: relative;
      span {
        background: $dark-deep;
      }
    }
    .site-logo {
      position: relative;
      z-index: 100;
      a {
        color: $dark-deep;
      }
    }
    span {
      background: $black;
    }
  }
}

.siteNavbar {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  border: 20px solid transparent;
  background: $white;
  min-height: 300px;
  overflow-y: scroll;
  &.collapsed {
    display: block;
  }
  nav {
    text-align: left;
    li {
      a {
        color: $black;
        font-size: 40px;
        padding: 5px 10px;
        position: relative;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}

.siteMenuToggle {
  top: 10px;
  float: right;
  width: 40px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  z-index: 200;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }

  &.open {
    span {
      background: $black;
      &:nth-child(1) {
        top: 13px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &:nth-child(3) {
        top: 13px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
}
