@import '/src/styles/variables.scss';

.button {
  padding: $padding-md $padding-xl;
}

.stickyButton {
  padding: $padding-sm $padding-lg;
  background-color: transparent;
  position: fixed;
  right: 75px;
  bottom: 75px;
}
