@import '/src/styles/variables.scss';

.footerSection {
  background: $gray;
  padding: 60px 0;
  li {
    margin-bottom: 10px;
  }
}

.link a {
  text-decoration: none;
  color: $dark;
  transition: color 0.3s ease;
}

.contactInfo p {
  margin-bottom: 10px;
  color: $dark-md;
}
