@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.siteBlockHalf {
  .image {
    background-size: cover;
    background-position: center center;
  }
  .image,
  .text {
    width: 100%;
  }
  .text {
    padding: $padding-2xl;
  }
  @include media-breakpoint-down(md) {
    .image {
      margin-bottom: $margin-xl;
      height: 18.75rem;
    }
  }
  @include media-breakpoint-up(lg) {
    .image,
    .text {
      width: 50%;
    }
    .text {
      padding: $padding-6xl;
    }
  }
}
