@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.siteBlockHalf {
  .image {
    background-size: cover;
    background-position: center center;
  }
  .image,
  .text {
    width: 100%;
    @include media-for(wide) {
      width: 50%;
    }
  }
  .image {
    @include media-breakpoint-down(md) {
      margin-bottom: $margin-xl;
      height: 18.75rem;
    }
  }
  .text {
    padding: 0 $padding-lg $padding-lg $padding-lg;
    @include media-for(wide) {
      padding: $padding-6xl;
    }
  }
}
