@import '/src/styles/variables.scss';

.testimonialsSection {
  padding: $padding-4xl 0;
  background-color: $gray;
}

.testimonialImgWrapper {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 auto;
}

.testimonialImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid $white;
  box-shadow: 0 4px 8px $shadow-dark;
}

.carouselControlPrevIcon,
.carouselControlNextIcon {
  background-color: $shadow-dark-2;
  border-radius: 50%;
  padding: $padding-md;
}

.carouselControlPrev,
.carouselControlNext {
  width: 5%;
}
