@import '/src/styles/variables.scss';

.testimonialsSection {
  padding: 4rem 0;
  background-color: $gray;
}

.testimonialImgWrapper {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.testimonialImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid $white;
  box-shadow: 0 4px 8px $shadow-dark;
}

.carouselControlPrevIcon,
.carouselControlNextIcon {
  background-color: $shadow-dark-2;
  border-radius: 50%;
  padding: 10px;
}

.carouselControlPrev,
.carouselControlNext {
  width: 5%;
}
