@import '/src/styles/variables.scss';

.info {
  border-radius: $border-radius-xs;
  font-weight: 700;
  font-size: $font-size-xs;
  line-height: $line-height-16;
  padding: $padding-xs $padding-sm;
  text-decoration: none;
  color: $light;
  &.cancelled {
    background-color: $red;
  }
  &.finished {
    background-color: $light-deep;
  }
  &.inProgress {
    background-color: $orange;
  }
  &.confirmed {
    background-color: $dark-md;
  }
  &.toBeConfirmed {
    background-color: $accent;
  }
}
